<div class="card border-primary mb-3">
  <div class="card-header">
    {{ titulo }}
  </div>

  <div class="card-body text-primary">
    <div class="my-2 text-left">
      <button
        type="button"
        class="btn btn-rounded btn-primary"
        [routerLink]="['/categorias/form']"
      >
        Guardar
      </button>
    </div>

    <div class="alert alert-info" *ngIf="categorias?.length == 0">
      No se encontraron categorías
    </div>

    <table
      class="table table-bordered table-striped"
      *ngIf="categorias?.length > 0"
    >
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Descripción</th>
          <th>Actualizar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoria of categorias">
          <td>{{ categoria.nombre }}</td>
          <td>{{ categoria.tipo.descripcion }}</td>
          <td>{{ categoria.descripcion }}</td>
          <td>
            <button
              type="button"
              name="button"
              class="btn btn-primary btn-sm"
              [routerLink]="['/categorias/form', categoria.id]"
            >
              Actualizar
            </button>
          </td>
          <td>
            <button
              type="button"
              name="button"
              class="btn btn-danger btn-sm"
              (click)="eliminar(categoria)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
