<div class="card border-primary mb-3">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body text-primary">
    <div class="my-2 text-left">
      <button
        class="btn btn-rounded btn-primary"
        type="button"
        [routerLink]="['/divisas/form']"
      >
        Guardar
      </button>
    </div>

    <div *ngIf="divisas?.length == 0" class="alert alert-info">
      No se encontraron divisas
    </div>

    <table
      class="table table-bordered table-striped"
      *ngIf="divisas?.length > 0"
    >
      <thead>
        <tr>
          <!--th>Id</th-->
          <th>Nombre</th>
          <th>Código</th>
          <th>Actualizar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let divisa of divisas">
          <!--td>{{ divisa.id }}</td-->
          <td>{{ divisa.nombre }}</td>
          <td>{{ divisa.codigo }}</td>
          <td>
            <button
              type="button"
              name="button"
              [routerLink]="['/divisas/form', divisa.id]"
              class="btn btn-primary btn-sm"
            >
              Actualizar
            </button>
          </td>
          <td>
            <button
              type="button"
              name="button"
              class="btn btn-danger btn-sm"
              (click)="eliminar(divisa)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
