<div class="card border-primary mb-3">
  <div class="card-header">Divisas</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de divisas</h5>

    <div class="my-2 text-left">
      <button
        class="btn btn-rounded btn-primary"
        type="button"
        [routerLink]="['/divisas/form']"
      >
        Guardar Divisa
      </button>
    </div>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Código</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let divisa of divisas">
          <td>{{ divisa.id }}</td>
          <td>{{ divisa.nombre }}</td>
          <td>{{ divisa.codigo }}</td>
          <td>
            <button
              type="button"
              name="button"
              [routerLink]="['/divisas/form', divisa.id]"
              class="btn btn-primary"
            >
              Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
