<div class="card border-primary mb-3">
  <div class="card-header">
    {{ titulo }}
  </div>
  <div class="card-body text-primary">
    <div class="my-2 text-left">
      <button
        type="button"
        class="btn btn-rounded btn-primary"
        [routerLink]="['/entidades-financieras/form']"
      >
        Guardar
      </button>
    </div>

    <div class="alert alert-info" *ngIf="entidadesFinancieras?.length == 0">
      No se encontraron entidades financieras
    </div>

    <table
      class="table table-bordered table-striped"
      *ngIf="entidadesFinancieras?.length > 0"
    >
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Actualizar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entidadFinanciera of entidadesFinancieras">
          <td>{{ entidadFinanciera.nombre }}</td>
          <td>{{ entidadFinanciera.tipo.descripcion }}</td>
          <td>
            <button
              type="button"
              name="button"
              class="btn btn-primary btn-sm"
              [routerLink]="[
                '/entidades-financieras/form',
                entidadFinanciera.id
              ]"
            >
              Actualizar
            </button>
          </td>
          <td>
            <button
              type="button"
              name="button"
              class="btn btn-danger btn-sm"
              (click)="eliminar(entidadFinanciera)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
