<div class="card border-primary mb-3">
  <div class="card-header">
    {{ titulo }}
  </div>

  <div class="card-body text-primary">
    <div class="my-2 text-left">
      <button
        type="button"
        class="btn btn-rounded btn-primary"
        [routerLink]="['/cuentas/form']"
      >
        Guardar
      </button>
    </div>

    <div class="alert alert-info" *ngIf="cuentas?.length == 0">
      No se encontraron cuentas
    </div>

    <table
      class="table table-bordered table-striped"
      *ngIf="cuentas?.length > 0"
    >
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Saldo</th>
          <th>Divisa</th>
          <ht>Entidad</ht>
          <th>Actualizar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cuenta of cuentas">
          <td>{{ cuenta.nombre }}</td>
          <td>{{ cuenta.saldo }}</td>
          <td>{{ cuenta.divisa.nombre }}</td>
          <td>{{ cuenta.entidad ? cuenta.entidad.nombre : "" }}</td>
          <td>
            <button
              type="button"
              name="button"
              class="btn btn-primary btn-sm"
              [routerLink]="['/cuentas/form', cuenta.id]"
            >
              Actualizar
            </button>
          </td>
          <td>
            <button
              type="button"
              name="button"
              class="btn btn-danger btn-sm"
              (click)="eliminar(cuenta)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
