<button mat-button [routerLink]="['/']">{{ titulo }}</button>

<button mat-button [matMenuTriggerFor]="configuraciones">Configuración</button>
<mat-menu #configuraciones="matMenu">
  <button mat-menu-item [routerLink]="['/categorias']">Categorías</button>
  <button mat-menu-item [routerLink]="['/cuentas']">Cuentas</button>
  <button mat-menu-item [routerLink]="['/divisas']">Divisas</button>
  <button mat-menu-item [routerLink]="['/entidades-financieras']">Entidades financieras</button>
</mat-menu>
